html,
body {
  height: 100%;
}

#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.content .movies .movies-inner {
  padding-top: 20px !important;
}

.movie-item {
  cursor: pointer;
  transition: 300ms all;
  border-radius: 8px;
}
.movie-item p {
  font-size: 14px;
}

.movie-backdrop {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}